<html>
      <head>
      <style>
          {config_style}
      </style>
      </head>
	    <body>

	    	<a class="header" href={config_website}>{config_platform}</a>

	      	<h3>Dear {name},</h3>

	        <p>Thank you for participating this week in {config_platform}! We try to enable a safe environment for you to share ideas, feelings, and experiences with chance encounters. So far, we've connected more than <b>1,300</b> students and staff across campus. Apparently some of the meetings helped you to make these days a little better, which is wonderful to hear!</p>

	        <h3>&#128075; Your Peer: <b>{name_peer}</b></h3>

	        <p>Your <i>randomized</i> peer in this week is <b>{name_peer}</b> from the <b>{faculty_peer}</b>. Please contact <b>{name_peer}</b> via phone (+<b>{phone_peer}</b>) or e-mail (<b><a href="mailto:{email_peer}?subject=Hello {config_platform} Peer">{email_peer}</a></b>). If you both happen to be in {config_local}, you can either arrange a phone call or meet for a walk to get some fresh air. If at least one is located elsewhere, you can still make a call and each walk by yourself if the situation allows. If you can't manage it this week, please inform your peer.</p>

	        <h3>&#128678; Safety</h3>

	        Please, always make sure to comply with the <b><a href="{config_safety}" target='_blank'>official local safety measures</a></b> and watch out for updates. Using {config_platform} is at your own risk. Take as much or as little time as you feel comfortable, and please keep your peer's phone number confidential. Thank you.</p>

	        <h3>&#129406; After the Walk/Call</h3>

	        <p>We will automatically propose a new randomized peer until <b>Sunday next week</b>. With the next mail, you will be asked whether you like to take a 1 or 2 week break from UM Walks in April. If you no longer wish to participate in {config_platform}, please <a href="mailto:{config_feedback}?subject=Unsubscribe&body=I wish to unsubscribe from {config_platform}. Thank you.">click here</a>. In the meantime, feel free to share the website with other students or staff. There are similar services at about <a href="https://en.frissegedachtes.nl">10 other Dutch universities</a>, in case you want to notify a fellow student at another institution.</p>
	        &nbsp;

	        <a class="button" href={config_website}>Share {config_platform} Website</a>

	        &nbsp;
	        <p>We wish you a good conversation, and don't forget::

	        <h3>&#128578; {config_lead}.</h3>

	        <i>Your {config_platform} team</i>

	        <p style="padding: 15px 0px; color: #777777"><small>You can send ideas and suggestions to <a href="mailto:{config_feedback}">this e-mail</a>. This message is solely intended for the addressee and may contain confidential information. If you are not the intended recipient please notify the sender immediately and delete this message. Unauthorised use, disclosure, dissemination or making a copy is not allowed.</small>
	        </p>

	    </body>
</html>
